<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="autoCommitOnClose" value="true" />
		<property name="minPoolSize" value="${jdbc.pool.minPoolSize}" />
		<property name="maxPoolSize" value="${jdbc.pool.maxPoolSize}" />
		<property name="initialPoolSize" value="${jdbc.pool.initialPoolSize}" />
		<property name="maxIdleTime" value="${jdbc.pool.maxIdleTime}" />
		<property name="acquireIncrement" value="${jdbc.pool.acquireIncrement}" />
		<property name="acquireRetryAttempts" value="${jdbc.pool.acquireRetryAttempts}" />
		<property name="checkoutTimeout" value="${jdbc.pool.checkoutTimeout}" />

		<property name="driverClass" value="${datasource.driver}" />
		<property name="jdbcUrl" value="${datasource.url}" />
		<property name="user" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mappers/**/*.xml" />
		<property name="typeAliasesPackage" value="cn.com.company.baseproject.repository.entity" />
		<property name="plugins">
			<list>
				<bean class="cn.com.company.baseproject.repository.interceptor.PaginationInterceptor">
					<property name="properties">
						<map>
							<entry key="dialect" value="mysql" />
						</map>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<bean id="dataScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.com.company.baseproject.repository.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- enable transaction demarcation with annotations -->
	<tx:annotation-driven />

</beans>